.btn-primary {
  background-color: #36eee0;
  color: #0b0b0b;
}

.btn-secondary {
  background-color: transparent;
  color: #36eee0;
  outline: 1px solid #36eee0;
}

.btn {
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1.25em 3em;
  border: none;
  cursor: pointer;
}
