.input {
  color: #f1f1f1;
  font-size: 1.5rem;
  line-height: 1;
  border-style: none;
  outline: none;

  height: calc(1em + 1.6em + 0.5em);
  width: 11.25rem;
  padding: 0.8em 1em;
  border: 0.25em solid transparent;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(22, 0, 21)),
    linear-gradient(120deg, #f652a0 0%, #36eee0 50%, #36eee0 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
}
.input::placeholder {
  color: #36eee0;
}
