.categories-title {
  font-size: 3rem;
  background-color: transparent;
  margin-bottom: 6rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
