.letter {
  border: 2px solid #36eee0;

  font-size: 2rem;
  text-align: center;
  padding: 0.5em;
  min-width: 80px;
  background-color: rgba(0, 0, 0, 1);
  color: transparent;
  font-weight: 700;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 5px;
  background-size: 200% 100%;
  text-transform: uppercase;
}
